<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521553643049-c628a93bu2eidorq1aij20ctlco16kt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521553643049-c628a93bu2eidorq1aij20ctlco16kt2</string>
	<key>API_KEY</key>
	<string>AIzaSyBHEdG1WoXxsywPFYQZxghPtpGE9Injg18</string>
	<key>GCM_SENDER_ID</key>
	<string>521553643049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.self.app</string>
	<key>PROJECT_ID</key>
	<string>appskeleton-550b7</string>
	<key>STORAGE_BUCKET</key>
	<string>appskeleton-550b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521553643049:ios:4ce87f6740095870</string>
	<key>DATABASE_URL</key>
	<string>https://appskeleton-550b7.firebaseio.com</string>
</dict>
</plist>